wget
asyncio
https://github.com/pyrogram/pyrogram/archive/asyncio.zip
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib